.icon-me {
    display: block;
    z-index: 2;
    white-space: nowrap;
    border-radius: 40px;
}

.icon-me img {
    width: 40px;
    height: 40px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}