/* * {
    margin: 0;
} */

.icon-me {
    display: block;
    z-index: 2;
    white-space: nowrap;
    border-radius: 40px;
}

.icon-me img {
    width: 40px;
    height: 40px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}

.max-width {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    min-width: 30%;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

nav .max-width {
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .max-width ul {
    list-style: none;
    display: flex;
}

nav .max-width li {
    padding-left: 30px;
}

.header-introduction {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 400px;
    padding-bottom: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.header-introduction h2 {
    max-width: 600px;
    line-height: 1.2;
    font-size: 2.325rem;
    color: #16d887;
    font-weight: 500;
    font-family: Cooper,Georgia,Cambria,Times New Roman,Times,serif;
}

.header-index {
    background-color: #c7f8e4;
}

.about-me {
    text-align: left;
    display: block;
    font-family: Graphik,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    padding-bottom: 48px;
    padding-top: 48px;
}

.page-width {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.project-box {
    justify-content: center;
    background-color: #1dd6894b;
    margin-top: 20px;
    margin-right: 20px;
    padding: 30px;
    width: 530px;
    height: 75px;
}

.project-box div {
    text-align: left;
    padding: 5px 5px;
}

.projects-grid {
    text-align: left;
    display: block;
    font-family: Graphik,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    padding-bottom: 30px;
}

.project-items {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

a {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: black;
}

a:hover {
    color: antiquewhite;
    background-color: black;
    background-image: linear-gradient(180deg,transparent 50%,#00122c 0);
    transition: all .2s;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    backface-visibility: hidden;
}

.small {
    font-size: 0.8rem;
}

.techStack {
    color:darkslategray;
}

.counter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}