/* * {
    margin: 0;
} */

.icon-me {
    display: block;
    z-index: 2;
    white-space: nowrap;
    border-radius: 40px;
}

.icon-me img {
    width: 40px;
    height: 40px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}

.max-width {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    min-width: 30%;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

nav .max-width {
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .max-width ul {
    list-style: none;
    display: flex;
}

nav .max-width li {
    padding-left: 30px;
}

.header-introduction {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.header-introduction h2 {
    max-width: 600px;
    line-height: 1.2;
    font-size: 2.325rem;
    color: #16d887;
    font-weight: 500;
    font-family: Cooper,Georgia,Cambria,Times New Roman,Times,serif;
}

.header-index {
    background-color: #c7f8e4;
}

.about-me {
    text-align: left;
    display: block;
    font-family: Graphik,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    padding-bottom: 30px;
}

.page-width {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.project-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1dd6894b;
    margin: 40px;
    padding: 30px;
}

.project-box div {
    text-align: left;
    padding: 5px 5px;
}

.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects-grid {
    text-align: left;
    display: block;
    font-family: Graphik,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    padding-bottom: 30px;
}